#headingGroup{
    line-height: 1rem;
}

.headingGroup span{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
}

#headingGroup #paragraph{
    font-size: .75rem;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: #f2f6f7;
}

#realNavbar .nav-link{
    font-size: 1.25rem;
    font-weight: 100;
    color: black;
}

#realNavbar .nav-link:hover{
    color: #f05d0e;
}

#paragraph a:hover{
    color: #f05d0e;
}

#paragraph a{
    color: #6c757d;
}

#meeting{
    width: 100%;
}

.arrow{
    color: #f05d0e;
    font-size: 12px;
}

#arrow2{
    font-size: 14px;
}

.navbar.scrolled{
    background: rgb(222, 192, 222);
    transition: background 500ms;
}

#facebook{
    margin-bottom: -100px;
}

#uber{
    margin-bottom: -60px;
}

#audi, #google{
    margin-bottom: -75px;
}

#nike{
    margin-bottom: -75px;
}

#mainHeading{
    font-size: 4rem;
    margin-top: 70px;
}

#mainHeading span{
    font-size: 5rem;
}

hr.style-one {
    width: 100px;
    border-color: #f05d0e;
}
.shapes{
    color: #f05d0e;
    font-size: 50px;
}

.headingGroup2 p{
    font-size: 12px;
}


.list-group-item{
    background-color: #f2f6f7;
}

.list-group-item a{
    border: 1px solid #f05d0e;
    font-size: 18px;
    border-color: #f05d0e;
    color: #f05d0e;
    margin-top: 15px;
    padding: 0 20px 0 20px;
}

#faq a{
    color: black;
}

#faq a:hover{
    color: #f05d0e;
    text-decoration: none;
}

#faq .arrow{
    font-size: 15px;
}

.carousel-item P{
    font-size: 15px;
}

.fa-arrow-right{
    font-size: 15px;
}

.fa-instagram{
    color: #f05d0e;
    font-size: 40px;
}

.rotate{
    transform: rotate(-90deg);
    font-size: 15px;
    width: 100px;
    height: 15;
    font-weight: 800;
    padding-top: 100px;
    margin-top: 50px;

}


.shape-img{
    width: 250px;
    height: 250px;
}

.img-1{
    margin-right: -20px;
}

.img-4{
    margin-left: -40px;
}

.footer{
    text-decoration: underline;
}

@media (max-width: 900px){
    #faq h4{
        font-size: 1rem;
    }
}